* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.heading {
  max-width: 750px;
}
.heading p {
  color: #585858;
}
/* start header  */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
header i {
  color: #35a22c;
}
header a {
  color: white;
  margin-right: 30px;
  position: relative;
}
header .navbar-nav a:hover {
  color: #35a22c;
}
header .navbar-nav a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #35a22c;
  transition: 0.3s;
}
header .navbar-nav a:hover::before,
header .nav-item.active a::before {
  width: 100%;
}
header .navbar-nav .nav-item.active a {
  color: #35a22c;
}

header button .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
header .navbar-brand {
  font-size: 35px;
  color: white;
}
.navbar-toggler {
  background-color: #35a22c;
  border-color: rgba(255, 255, 255, 0.1);
}
.navbar-toggler:hover {
  background-color: #0ea8cf;
}
/* end header  */
/* start carousel  */
#carousel .carousel-item .item-bg {
  height: 100vh;
  min-height: 500px;
}
.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
.carousel-caption h5 {
  font-size: 3rem;
}
.carousel-caption p {
  font-size: 28px;
}
.carousel-item {
  position: relative;
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 43, 54, 0.5);
}
.carousel-indicators .active {
  background-color: #35a22c;
}
.carousel-indicators {
  bottom: 50px;
}
/* end carousel  */
/* start projects  */
#projects .nav {
  justify-content: center;
}
#projects .nav-pills .nav-link {
  border: 1px solid black;
}
#projects .project__item {
  width: 100%;
}

#projects .nav-item {
  padding: 5px;
}
#projects .nav-item a {
  color: black;
}
#projects .nav-item .active {
  background-color: #35a22c;
  color: white;
  border: none;
}
#projects .card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
#projects .card-body {
  border: 1px solid transparent;
  border-top: transparent;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  transition: 0.5s;
}
#projects .card-body:hover {
  border-color: #35a22c;
  cursor: pointer;
}
#projects .card-body:hover h5 {
  color: #35a22c;
}
#projects .card-body .card-title {
  font-weight: normal;
}
#projects .card-body p {
  color: #585858;
}
/* end projects  */
/* start features  */
.feature {
  background-image: url(./image/3.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  position: relative;
}
.feature .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.feature .heading {
  position: relative;
}
.feature .heading p {
  color: white;
}
.heading h2 {
  font-size: 35px;
  font-weight: bold;
}
.feature__content i {
  font-size: 48px;
  color: #35a22c;
}
.feature__content h4 {
  font-size: 20px;
  font-weight: 700;
}
.content__container {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
}
.content__container:hover {
  background-color: black;
  border-color: white;
}
/* end feature  */
/* start award  */
.award {
  position: relative;
  padding: 70px 0;
}
.award-bg {
  background-image: url(./image/memphis_3.png);
  background-position: bottom left;
  background-size: 50% auto;
  background-repeat: no-repeat;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.award__title .heading {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 45px;
}

.award__content {
  padding-top: 45px;
  padding-bottom: 30px;
}
/* end award  */
/* start footer  */
footer {
  background: #222;
}
footer p {
  color: #aaa;
}
.footer__credit {
  border-top: 1px solid rgba(170, 170, 170, 0.2);
}
.footer__socials {
  padding: 32px 0;
}
.footer__socials i {
  color: #aaa;
  border: 1px solid rgba(170, 170, 170, 0.2);
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  transition: 0.5s;
}
.footer__socials i:hover {
  color: #35a22c;
  border: 1px solid #35a22c;
}
/* responsive */
@media screen and (max-width: 991.98px) {
  header .navbar-nav {
    background-color: white;
  }
  header .navbar-nav .nav-item .nav-link {
    color: #35a22c;
    transition: all 0.3s;
    padding-left: 10px;
  }
  header .navbar-nav .nav-item:hover {
    background-color: #35a22c;
  }
  header .navbar-nav .nav-item .nav-link:hover {
    color: white;
  }
  header .navbar-nav a:hover::before,
  header .nav-item.active a::before {
    display: none;
  }
  #projects .nav-item .nav-link {
    padding: 0.5rem;
  }
  #projects .card-body {
    padding: 1.25rem 1rem 2.5rem;
  }
  @media (min-width: 576px) {
    .award .container {
      max-width: 750px;
    }
  }
}
